#canvas {
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -10;
    background: linear-gradient( #003380 ,  #0052cc,  #1a75ff);
    float: left;
}

div {
    float: right;
    margin-right: 30px;
}

div#right {
    width: 250px;
}


