body {
	display: grid;
	grid-template-columns: 800px auto;
	grid-template-rows: auto auto
}
div#info {
	border: thin solid black;
	margin-left: 1rem;
}
table {
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
	border-color: grey;
}